$font-family-regular: "SegoeUIRegular", "Open Sans", "Helvetica Neue", Helvetica, Arial, sans-serif;
$font-family-bold: "SegoeUIBold", "Open Sans", "Helvetica Neue", Helvetica, Arial, sans-serif;
$font-family-semibold: "SegoeUISemiBold", "Open Sans", "Helvetica Neue", Helvetica, Arial, sans-serif;

$bg-color-header: #6FDEF2;
$color-font-dark: #039BC1; 
$color-font-footer: #579abe;
